
/*------------------------------------------------------------------
[Table of contents]
1. 3rd Part CSS Libraries
2. Global CSS
3. Menu CSS
4. Home CSS
5. About CSS
6. Image Slider CSS
7. Blog Page CSS
8. Single Post CSS
9. Contact Page CSS
10. Footer CSS
11. Responsive CSS
-------------------------------------------------------------------*/


/* ===================================
    1. 3rd Part CSS Libraries
====================================== */

@import url("css/clear.css");
@import url("css/sm-clean.css");
@import url("css/swiper.min.css");
@import url("css/prettyPhoto.css");
@import url("css/common.css");


/* ===================================
    2. Global CSS
====================================== */

body.wait-preloader {
    overflow: hidden;
}

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4F4F4F;
    background-color: #FFF;
    overflow-x: hidden;
}


body a {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: #4F4F4F;
    transition: color .2s ease;
}

body a:hover {
    color: #acacac;
}

body p {
    margin-bottom: 16px;
}

body.open.done {
    width: 100%;
    position: absolute;
    overflow-y:scroll;
}

b{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

#intro{
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 900;
}

#white_bg{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #FFF;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
}

#intro img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

/*.intr-img1{
    height: 100%;
    -webkit-animation: attr .5s ease-in-out;
    animation: attr .5s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 8s;
}

@keyframes attr {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
*/
/*.intr-img2{
    display: none;
    width: 35%;
    -webkit-animation: up 1s ease-in-out;
    animation: up 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
}

@keyframes up {
    0% {
        top: 0;
    }
    
    100% {
        top: -100%;
    }
}
*/

.bg-intro{
    position: absolute;
    top: -60%;
    width: 100%;
    display: none;
    transition: all .3s ease;
}

.intr-img2{
    width: 25%;
    filter: grayscale(0%);
    z-index: 600;
    transition: all .3s ease;
}

.intr-img2:hover{
    filter: grayscale(100%);
}

.site-wrapper {
    overflow: hidden;
}

.site-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.doc-loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #FFF;
}

.doc-loader img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-logo img {
    max-width: none;
    max-height: none;
    width: 100%;
}

.site-content {
    position: relative;
    transition: transform 0.7s ease;
    width: calc(100% - 200px);
    margin-left: 185px;
    margin-top: 20px;
    padding: 0 35px;
}

.open .site-content {    
    transform: translateY(70px);    
}

h1.entry-title.page-title {
    font-family: 'Unna', serif;
    font-weight: 700;
    margin-bottom: 60px;
    font-size: 47px;
    line-height: 120%;
    padding: 0;
}

.animate {
    opacity: 0;
    transition: .5s ease-in;
    -ms-transform: translate(0px,70px);
    -webkit-transform: translate(0px,70px);
    transform: translate(0px,70px); 
}

.animate.show-it {
    opacity: 1;
    -ms-transform: translate(0px,0px); 
    -webkit-transform: translate(0px,0px);
    transform: translate(0px,0px);  
}

.content-1170 {
    width: 1170px;
    max-width: 95%;
}

.content-960 {
    width: 960px;
    max-width: 95%;
}

.medium-text {
    font-size: 22px;
    line-height: 40px;
    color: #666;
}

.info-code {
    margin-bottom: 30px;
}

.info-code-title {
    font-size: 10px;
    letter-spacing: 5px;
    margin-bottom: 0;
    line-height: 100%;
    font-weight: 500;
    color: #666;
}

.info-code-content, 
.info-code-content a {
    font-size: 15px;
}

a.socail-text {
    margin-right: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}

a.button {
    background-color: #000;
    padding: 8px 0px 8px 11px;
    display: inline-block;
    font-size: 11px;
    min-width: 170px;
    letter-spacing: 8px;
    transition: opacity .3s ease;
    text-align: center;
    border: 1px solid;
}

a.button:hover {
    opacity: 0.8; 
}

.page-featured-image {
    margin-bottom: 80px;
}


/* ===================================
    3. Menu CSS
====================================== */

.menu-holder-front {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 24%; 
    transition: all .3s ease;
    z-index: 300;
}

.header-logo{
    position: fixed;
    top: -100%;
    left: 20px;
    width: 20%;
    filter: grayscale(100%);
    transition: all .3s ease;
    z-index: -3;
     -webkit-animation: coucou 1s ease-in-out;
    animation: coucou 1s ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}

@keyframes coucou {
    0% {
        top: -100%;
    }
    
    100% {
        top: 30px;
    }
}

.menu-text {    
    font-size: 12px;
    line-height: 120%;
    font-weight: 100;
}

.menu-left-text{
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-left: 30px;
    transition: all .3s ease;
     visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.5s ease;
}


.menu-holder-front:hover .header-logo{
    filter: grayscale(0%);
}

.menu-holder-front:hover .menu-left-text{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.menu-left-text:nth-child(2){
    margin-top: 60%;
}

.menu-left-text .menu-text a:hover {
    color: #acacac;
}

.menu-text-title {
    line-height: 110%;
    margin-bottom: 0;
}

.menu-text-title img{
    width: 20px;
    margin-right: 10px;
}

.menu-right-text {
    display: inline-block;
    vertical-align: top;
}

a.social-text {    

    cursor: pointer;
}

a.social-text img, .mail-icon{
     transition: all .3s ease;
}

a.social-text:hover img, .mail-icon:hover{
    opacity: 0.5;
}

/* ===================================
    4. Home CSS
====================================== */

#portfolio-wrapper {
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    position: relative;
}

#portfolio-grid {
    transition: all .5s ease;
    opacity: 1;
    transform: translateY(0px);
    padding: 0;
    list-style: none;    
}

.grid {    
    width: 100%;
    margin: 0 auto;    
    overflow: hidden;
    position: relative;
    max-width: 100%;
}

.grid-sizer {
    width: 33.333%;
}

.grid-item {
    float: left;
    font-size: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
    width: calc(33.333% - 30px);
    margin: 15px;
    border-radius: 10px;
}

.grid-item.p_one_half {
    width: 33.333%;

}

.grid-item.p_one {
    width: calc(33.333% - 30px);
}

.grid-item img {
    width: 100% !important;
    height: auto;
    border-radius: 10px;
    display: block;
    filter: grayscale(60%);
    transition: all .3s ease;
}

.grid-item .entry-holder {
    text-align: center;
    background-color: #fff;
    padding: 50px 20px;
}

/*.grid-item a.item-link:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 10px;
    transition: opacity .3s ease;
}*/

.grid-item a.item-link:hover > img {
    filter: grayscale(0%);
    transform: scale(1.1);
    border-radius: 40px;
}


/* ===================================
    10. Footer CSS
====================================== */

footer {
    width: calc(100% - 165px);
    margin-left: 165px;
}

.footer-content {
    color: #6f6f6f;
    margin-top: 100px;
}

.copyright-holder {
    text-align: center;
    margin-bottom: 10px;
    font-size: .8em;
}


/* ===================================
    11. Responsive CSS
====================================== */

@media screen and (min-width: 1100px) {
    div.pp_pic_holder {
        left: 30px!important;
    }
}

@media screen and (min-width: 1440px) {

    #portfolio-wrapper{
        max-width: 1100px;
    }
    
    .header-logo{
        width: 18%;
    }
    
    .menu-left-text:nth-child(2){
        margin-top: 50%;
    }
}

@media screen and (min-width: 1680px) {

    .site-content{
        margin-left: 200px;
    }
    
    #portfolio-wrapper{
        max-width: 1250px;
    }
    
    .content-1170{
        width: 1370px;
    }
    
    div.pp_pic_holder{
        left: 100px!important;
    }
    
    .menu-left-text{
        margin-left: 50px;
    }
}

@media screen and (min-width: 1920px) {

    #portfolio-wrapper{
        max-width: 1500px;
    }
    
    .content-1170{
        width: 1570px;
    }
    
    .site-content{
        margin-top: 50px;
        margin-left: 230px;
    }
    
    @keyframes coucou {
    0% {
        top: -100%;
    }
    
    100% {
        top: 50px;
    }
    }
    
    div.pp_pic_holder{
        left: 150px!important;
    }
}

@media screen and (min-width: 2560px) {
    
    .site-content{
        margin-top: 100px;
    }
    
    #portfolio-wrapper{
        max-width: 2000px;
    }
    
    .content-1170{
        width: 2070px;
        margin-right: 100px;
    }
    
    .grid-item img{
        border-radius: 30px;
    }
    
    .grid-item{
        border-radius: 30px;
    }
    
    p.menu-text-title{
        font-size: 1em;
        padding-bottom: 8px;
    }
    
    .menu-holder-front{
        width: 20%;
    }
    
    .header-logo{
        left: 40px;
        width: 17%;
    }
    
    @keyframes coucou {
    0% {
        top: -100%;
    }
    
    100% {
        top: 100px;
    }
    }
    
    .menu-text{
        font-size: 1.4em;
    }
    
    .menu-left-text{
        margin-left: 70px;
    }
    
    .menu-left-text:nth-child(2){
        margin-top: 65%;
    }

    div.pp_default .pp_description{
        font-size: 1.4em;
        line-height: 25px;
        margin-top: -165px;
        width: 500px;
    }
    
    div.pp_pic_holder{
        left: 200px!important;
    }
}

@media screen and (min-width: 4096px) {

    #portfolio-wrapper{
        max-width: 3500px;
    }
    
    .content-1170{
        width: 3300px;
        margin-right: 100px;
    }
    
    .menu-holder-front{
        left: 50px;
    }
    
    p.menu-text-title{
        font-size: 1.8em;
        padding-bottom: 13px;
        line-height: 130%;
    }
    
    div.pp_default .pp_nav{
        height: 40px;
    }
    
    div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next, div.pp_default .pp_close{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    
    .menu-text{
        font-size: 1.9em;
    }
    
    .menu-left-text:nth-child(2){
        margin-top: 55%;
    }
    
    .menu-left-text{
        margin-left: 70px;
    }
    
    div.pp_default .pp_description{
        font-size: 1.9em;
        line-height: 35px;
        margin-top: -235px;
        width: 700px;
    }
    
    div.pp_pic_holder{
        margin-left: 400px!important;
    }
}

@media screen and (height: 1366px) {
    .grid-sizer {
        width: 50%;
    }
    
    .grid-item{
           width: calc(50% - 30px);
    }
    
    .footer-content{
        margin-top: 40px;
    }
    
    #intro img{
        width: 50%;
    }

    .header-logo{
         animation-delay: 2.1s;
    }
    
    .menu-left-text{
        visibility: visible;
        opacity: 1;
    }
    
    .menu-left-text:nth-child(2){
        margin-top: 70%;
    }
    
    div.pp_default .pp_content_container .pp_details{
        margin-top: 80px!important;
    }
    
    div.pp_default .pp_description{
        padding-left: 0;
        margin-top: -72px;
        margin-left: -120px;
    }
    
    .site-content{
        margin-left: 180px;
    }
    
    a.pp_next, a.pp_previous{
        display: block!important;
    }

}

@media screen and (max-width: 1020px) {   

    .site-content,
    footer {        
        padding: 0;
        width: 100%;
        margin-left: auto;
    }

    .site-content {
        margin-top: 80px;
    } 

    .intr-img2{
        width: 50%;
    }
    
    .header-logo{
         animation-delay: 2.1s;
        position: absolute;
        left: -230px;
        top: -200%;
        width: 25%;
    }
    
    @keyframes coucou {
    0% {
        top: -200%;
    }
    
    100% {
        top: -20px;
    }
    }
    
    .menu-left-text{
        visibility: visible;
        opacity: 1;
        margin-left: 20px;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0px;
    }
    
    .menu-text-title img{
        margin-bottom: 5px;
    }
    
    .menu-left-text:nth-child(2){
        margin-top: 0%;
    }

    .menu-holder-front {
        display: flex;
        position: relative;
        width: calc(100% - 30px);
        top: 40px;
        left: 35%;
        flex-flow: nowrap;
        align-items: center;
    }
        
    div.pp_default .pp_content_container .pp_details{
        margin-top: 80px!important;
    }
    
    div.pp_default .pp_description{
        padding-left: 0;
        margin-top: -72px;
        margin-left: -120px;
    }

    .one_half, 
    .one_third, 
    .one_fourth, 
    .two_third, 
    .three_fourth {
        width: 100% !important;
        float: none;
        margin-right: 0;
        margin-left: 0;
    }

    .footer-content {
        margin-top: 75px;
    }
    
     .grid-sizer {
        width: 50%;
    }
    
    .grid-item{
           width: calc(50% - 30px);
    }
      a.pp_next, a.pp_previous{
        display: block!important;
    }
}

@media screen and (max-width: 640px) {
    
    .header-logo{
        left: -180px;
    }
    
           @keyframes coucou {
    0% {
        top: -200%;
    }
    
    100% {
        top: 0;
    }
    }
    
    .menu-holder-front{
        left: 30%;
    }
    
    .intr-img2{
        width: 25%;
    }
}

@media screen and (max-width: 480px) {
    .intr-img2{
        width: 50%;
    }

    .grid-item, 
    .grid-sizer {
        width: 95% !important;
        float: none;
        border: 0;
        margin-bottom: 20px;
    }  
    
     #portfolio-wrapper{
        max-width: 450px;
    }
    
    .content-1170{
        width: 480px;
    }

    .header-logo{
        left: -120px;
    }
    
    .menu-holder-front{
        top: 30px;
    }
    
        @keyframes coucou {
    0% {
        top: -100%;
    }
    
    100% {
        top: 10px;
    }
    }

    .insta-name{
        display: none;
    }
    
    .menu-holder-front{
        left: 30%;
    }
    
    div.pp_default .pp_description{
        margin-left: 0px;
        margin-top: -105px;
    }
}

@media screen and (max-width: 420px) {
    .site-content{
        margin-top: 100px;
    }
    
    .menu-holder-front{
        left: 0;
        margin: 0 auto;
        top: 100px;
    }
    
    #portfolio-wrapper{
        max-width: 400px;
    }
    
    .content-1170{
        width: 420px;
    }
    
    .menu-text-title img{
        width: 15px;
    }
    
    .header-logo{
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        top: -250%;
    }
    
    .header-logo{
         animation-delay: 1.8s;
    }
    
    @keyframes coucou {
    0% {
        top: -250%;
    }
    
    100% {
        top: -90px;
    }
    }
    
    .grid-item, 
    .grid-sizer {
        width: 93% !important;
        margin-bottom: 10px;
    } 
    
    .pp_hoverContainer{
        width: 100%!important;
        height: 100%!important;
    }
}


@media screen and (max-width: 375px) {
    #portfolio-wrapper{
        max-width: 350px;
    }
    
    .content-1170{
        width: 370px;
    }
    
    .header-logo{
        width: 55%;
    }
    
}

@media screen and (max-width: 320px) {
    .menu-text{
        font-size: 10px;
    }
    
       .header-logo{
        width: 62%;
    }
    
        #portfolio-wrapper{
        max-width: 300px;
    }
    
    .content-1170{
        width: 320px;
    }
    
     .grid-item, 
    .grid-sizer {
        width: 90% !important;
    }
}